html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}

.wrapper:after {
 content: "";
  display: block;
}

.jumbotron {
    padding-top: 0px;
    padding-bottom: 5px;
}

#page-footer, .wrapper:after {
	height: 100px; /* '.push' must be the same height as 'footer' */
}

#page-footer {
	border-top: 2px solid rgb(218, 218, 218);
	background-color: rgb(238, 238, 238);
	text-shadow: rgb(217, 217, 217) 1px 1px 0px
}


        table{border:1px solid #000;}
        table td{padding:15px;border:1px solid #000;}
        table th{background:#CCC;padding:15px;border:1px solid #000;}

    #myProgress {
      width: 45%;
      height: 30px;
      position: relative;
      background-color: #ddd;
    }

    #myBar {
      background-color: #CCC;
      width: 10px;
      height: 30px;
      position: absolute;
    }